In [1]:
import pandas as pd
import sqlite3

In [ ]:
# Conectamos con la base de datos
connect = sqlite3.connect('data/my_database.db')
cursor = connect.cursor()

In [31]:
# Creamos las tablas

cursor.execute(
    """CREATE TABLE IF NOT EXISTS tweets(
        id VARCHAR(255) PRIMARY KEY,
        tweet TEXT NOT NULL,
        date DATE, 
        user_id VARCHAR(255),
        retweets_count INTEGER,
        replies_count INTEGER,
        likes_count INTEGER
        )"""
    )

cursor.execute(
    """CREATE TABLE IF NOT EXISTS users(
        user_id VARCHAR(255) PRIMARY KEY,
        name VARCHAR(255),
        username VARCHAR(255)
        )"""
    )

In [9]:
df = pd.read_csv('data/clean_data.csv', index_col=0)

In [29]:
# Rellenamos la tabla tweets
df_tweets = df.drop(['name','username'], axis=1)
for i,row in df_tweets.iterrows():
        task = (row[0],row[1],row[2],row[3],row[4],row[5],row[6]) 
        sql = ''' INSERT INTO tweets(id,date,user_id,tweet,replies_count,retweets_count,likes_count)
                VALUES(?,?,?,?,?,?,?) '''
        cursor = connect.cursor()
        cursor.execute(sql, task)
        connect.commit()

In [44]:
# Rellenamos la tabla users
df_users = df.loc[:,['user_id','name','username']].drop_duplicates()
for i,row in df_users.iterrows():
        task = (row[0],row[1],row[2]) 
        sql = ''' INSERT INTO users(user_id,name,username)
                VALUES(?,?,?) '''
        cursor = connect.cursor()
        cursor.execute(sql, task)
        connect.commit()

In [ ]:
cursor.close()
connect.close()